@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: #282828;
  color: #eee;
  font-family: "Roboto","Arial",sans-serif;
}

main {
  border: #4b4949 1px solid;
  padding: 30px;
  background-color: #282828;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: bold;
}

.span {
  color: #afafaf;
  font-weight: normal;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 7px;
}

.filters {
  margin-bottom: 20px;
}

#chart {
  margin-top: 20px;
}

.bar-container {
  margin-bottom: 40px;
  position: relative;
}

.bar {
  position: relative;
  background-color: #BC6AF3;
  padding: 6px;
  right: 65px;
  overflow: hidden;
  border-radius: 40px;
  margin-left: auto;
}

.see-more {
  background: none;
  display: block;
  margin-top: 50px;
  color: #529BE7;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 0;
}

.country-label {
  position: absolute;
  font-weight: 500;
}

.percentage-label {
  position: absolute;
  right: 5px;
  font-size: 15px;
  top: -2px;
  font-weight: 500;
}

.buttons {
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
  gap: 16px;
  font-weight: bolder;
}

.filter-button.selected {
  background-color: #2E3A43;
  color: #3486D5;
  border: #2E3A43 1px solid;
}

.buttons button {
  border: #4b4949 1px solid;
  font-weight: bold;
  padding: 12px 15px;
  background-color: #282828;
  border-radius: 40px;
  cursor: pointer;
  color: #eee;
}